@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherti;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", sans-serif;
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 0.1em;
}

.inner {
  width: 84%;
  padding: 260px 0 65px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .inner {
    width: 90%;
    padding: 60px 0 63px;
  }
}

.title {
  font-size: 1.8rem;
  letter-spacing: 0.3em;
  color: #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 11px;
}

@media screen and (max-width: 600px) {
  .title {
    margin-bottom: 50px;
  }
}

.title::after {
  display: inline-block;
  content: "";
  border-bottom: 1px solid;
  width: 5em;
  margin-left: 22.5px;
}

@media screen and (max-width: 600px) {
  .title::after {
    width: 2.5em;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 68px;
  left: 6%;
  width: 100%;
  z-index: 10;
}

@media screen and (max-width: 959px) {
  header {
    position: static;
    width: 90%;
    height: 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
  }
}

.hd-logo {
  font-size: 3.8rem;
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .hd-logo {
    font-size: 2.2rem;
    margin-right: 38%;
  }
}

nav {
  width: 30%;
  min-width: 340px;
}

@media screen and (max-width: 959px) {
  nav {
    display: none;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.8rem;
  color: #707070;
}

nav li:hover {
  color: black;
  border-bottom: 1px solid;
}

.ham {
  display: none;
}

@media screen and (max-width: 959px) {
  .ham {
    width: 16px;
    height: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ham span {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #3B4043;
  }
  .ham span:last-child {
    width: 60%;
  }
}

#first-v {
  background-image: url(../img/Blond-woman-with-long-curly-beautiful-hair.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 0;
  height: 100vh;
  position: relative;
}

@media screen and (max-width: 600px) {
  #first-v {
    position: static;
    background-size: cover;
  }
}

.first-v__wrap {
  position: absolute;
  top: 50%;
  left: 25%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .first-v__wrap {
    top: 60%;
    left: 50%;
    height: 20%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    color: white;
  }
}

.first-v__wrap .ja-catch {
  font-family: "游明朝", serif;
  font-size: 3.8rem;
}

@media screen and (max-width: 600px) {
  .first-v__wrap .ja-catch {
    font-size: 2.3rem;
  }
}

.first-v__wrap .en-catch {
  font-family: "Times New Roman", serif;
  font-size: 3.8rem;
}

@media screen and (max-width: 600px) {
  .first-v__wrap .en-catch {
    font-size: 2.8rem;
  }
}

#concept {
  background: -webkit-gradient(linear, left top, left bottom, from(#A193861F), color-stop(40%, #A193861F), color-stop(40%, #D0C5BA), to(#D0C5BA));
  background: linear-gradient(to bottom, #A193861F 0%, #A193861F 40%, #D0C5BA 40%, #D0C5BA 100%);
}

.concept__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.concept__img-1 {
  width: 63%;
  height: auto;
  overflow: hidden;
}

@media screen and (max-width: 959px) {
  .concept__img-1 {
    width: 49%;
    height: 205px;
  }
}

.concept__img-1 img {
  height: 100%;
}

.concept__img-2 {
  width: 36%;
  height: auto;
  overflow: hidden;
}

@media screen and (max-width: 959px) {
  .concept__img-2 {
    width: 49%;
    height: 205px;
  }
}

.concept__img-2 img {
  height: 100%;
}

.concept__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  margin: 69px auto 0;
}

@media screen and (max-width: 959px) {
  .concept__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 0;
  }
}

.concept__content__catch {
  font-family: "游明朝", serif;
  font-size: 40px;
  letter-spacing: 0.4em;
}

@media screen and (max-width: 959px) {
  .concept__content__catch {
    font-size: 1.8rem;
    padding: 50px 0 18px;
  }
}

.concept__content__desc {
  font-family: "メイリオ", sans-serif;
  width: 40%;
}

@media screen and (max-width: 959px) {
  .concept__content__desc {
    width: 100%;
    text-align: left;
  }
}

.menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 959px) {
  .menu-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu-item {
  width: 26%;
  text-align: center;
  min-width: 236px;
}

@media screen and (max-width: 959px) {
  .menu-item {
    width: 100%;
    margin-bottom: 62px;
  }
  .menu-item:last-child {
    margin-bottom: 0;
  }
}

.menu__img img {
  width: 100%;
  max-width: 450px;
}

.menu__content {
  width: 92%;
  margin: 0 auto;
}

.menu__content__title {
  font-size: 3rem;
  margin-top: 37px;
}

@media screen and (max-width: 600px) {
  .menu__content__title {
    margin-top: 30px;
    text-align: left;
  }
}

.menu__content__desc {
  margin: 0 auto;
  padding: 34px 0;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .menu__content__desc {
    padding: 30px 0 26px;
  }
}

.menu__content__price {
  text-align: right;
}

#access {
  background-color: #A193861F;
  padding: 260px 0 70px;
}

@media screen and (max-width: 959px) {
  #access {
    padding: 60px 0 63px;
  }
}

#access .title {
  padding-left: 8%;
  margin-bottom: 6px;
}

@media screen and (max-width: 959px) {
  #access .title {
    padding-left: 5%;
    margin-bottom: 50px;
  }
}

.access-wrap {
  background-color: #D0C5BA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 8%;
}

@media screen and (max-width: 959px) {
  .access-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-left: 0;
  }
}

.address {
  padding: 100px 0;
}

@media screen and (max-width: 959px) {
  .address {
    padding: 30px 5% 60px;
  }
}

.shop-name {
  font-size: 2.4rem;
  color: #00000038;
  font-weight: bold;
  padding-bottom: 30px;
}

.shop-info {
  color: white;
  padding-bottom: 23px;
}

.shop-info:last-child {
  padding-bottom: 0;
}

.map {
  width: 60%;
}

@media screen and (max-width: 959px) {
  .map {
    width: 100%;
    height: 231px;
  }
}

.ft-wrap {
  width: 84%;
  padding: 248px 0 62px;
  margin: 0 auto;
}

@media screen and (max-width: 959px) {
  .ft-wrap {
    width: 90%;
    padding: 124px 0 19px;
  }
}

.ft-wrap::before {
  display: inline-block;
  content: "";
  width: 100%;
  border-bottom: 1px solid #70707036;
  margin-bottom: 83px;
}

@media screen and (max-width: 959px) {
  .ft-wrap::before {
    margin-bottom: 60px;
  }
}

.ft-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 959px) {
  .ft-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.ft-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 959px) {
  .ft-box {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 62px;
  }
}

.ft-logo {
  font-size: 3.2rem;
  color: #7070704D;
  margin-right: 26px;
}

@media screen and (max-width: 959px) {
  .ft-logo {
    font-size: 1.8rem;
  }
}

.ft-icon {
  font-size: 2rem;
}

.ft-btn {
  font-size: 1.8rem;
  color: #707070;
  border: 1px solid;
  background-color: #fff;
  height: 37px;
  line-height: 37px;
  padding: 0 41px;
}
/*# sourceMappingURL=main.css.map */