////////////////////////
///       変数        ///
////////////////////////
$gray: #707070;
$beige: #A193861F;
$brown: #D0C5BA;
////////////////////////
///      mixin       ///
////////////////////////

@mixin pc {
    @media screen and (min-width: 960px){
        @content;
    }
}
@mixin tab {
    @media screen and (max-width: 959px){
        @content;
    }
}
@mixin sp {
    @media screen and (max-width: 600px){
        @content;
    }
}

////////////////////////
///       共通        ///
////////////////////////

html {
    font-size: 62.5%; // 10px
}

body {
    font-family: "Roboto Mono", sans-serif;
    font-size: 16px;
    line-height: 1.69;
    letter-spacing: 0.1em;
}

.inner {
    width: 100% - 8% * 2;//両側の余白
    padding: 260px 0 65px;
    margin: 0 auto;
    @include sp {
        width: 100% - 5% * 2;
        padding: 60px 0 63px;
    }
}

.title {
    font-size: 1.8rem;
    letter-spacing: 0.3em;
    color: $gray;
    display: flex;
    align-items: center;
    margin-bottom: 11px;
    @include sp {
        margin-bottom: 50px;
    }
    &::after {
        display: inline-block;
        content: "";
        border-bottom: 1px solid;
        width: 5em;
        margin-left: 22.5px;
        @include sp {
            width: 2.5em;
        }
    }
}